pydicom>=1.4.2
dicompyler-core[image]>=0.5.2
wxPython>=4.0.0b2
matplotlib>=1.3,<2.2
numpy>=1.16.3
Pypubsub>=4.0.3
wxmplot>=0.9.40
pillow>=7
keras>=2.2.4
opencv-python>=4.1.0.25
scikit-image>=0.15.0
nibabel>=2.5.0
connected-components-3d>=1.6.0
dicom2nifti>=2.2.5
tensorflow<2
